<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal page</title>
</head>
<body>
    <h1>Nuestra única historia de amor</h1>

    <h2>Así somos nosotros</h2>

    <img src="/images/miprimiredit.png" alt="¡Ay! Te amo mucho">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, aliquid dolor, numquam harum, autem vitae officiis a similique repudiandae dolore dicta vel adipisci quia fugiat pariatur alias. Cupiditate, commodi autem.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos vero possimus itaque porro, tempora iure aliquid reiciendis rem accusamus aliquam harum repellat suscipit animi illum dicta? Asperiores nostrum exercitationem culpa!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates accusantium dicta quia consequatur nam qui. Aperiam, quidem provident nisi nulla deleniti quibusdam consequatur atque voluptatem aut cupiditate adipisci rem magnam.</p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <a href="https://github.com/camilozv21">Ir al repositorio del creador</a>

</body>
</html>