<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregando estilos css</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    <header>

        <h1>Agregando estilos a nuestra página</h1>

        <nav>
            <ul>
                <li><a href="aedf">Hola soy un boton feliz</a></li>
                <li><a href="aedf">Hola soy un boton feliz</a></li>
                <li><a href="aedf">Hola soy un boton feliz</a></li>
                <li><a href="aedf">Hola soy un boton feliz</a></li>
                <li><a href="aedf"><i class="fa-solid fa-user"></i></a></li>

                
            </ul>
        </nav>

        <img src="./imgs/memexd.jpg" alt="Señora tapando">

    </header>

    <main>

        <h2>Hola soy un subtitulo</h2>

        <p class="parrafo-destacado">Lorem ipsum dolor, sit amet consectetur <em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt cumque magnam ea iusto sapiente recusandae.</em> adipisicing elit. Assumenda minus doloremque, aperiam voluptatem ipsam ullam. Nobis porro qui natus et.</p>

        <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis omnis commodi eius, optio quod incidunt porro assumenda ratione quaerat quas delectus deserunt deleniti id maxime nesciunt. Sed laborum in dignissimos?</strong>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ut beatae mollitia <strong>fficia autem quaerat commodi doloremque, explicabo magni numquam vo</strong> oluptatum? Eaque totam vero sed ipsa quam incidunt minus.</p>

    </main>

    <footer>

        <h4>Hola soy chikito</h4>

        <section>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas itaque doloremque <em>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia cum minus iusto labore quasi enim!</em> officiis, temporibus nobis tenetur, id numquam possimus illo minima repudiandae et, quasi nesciunt velit deserunt cupiditate animi? Accusantium, porro?</p>

                <h6>Soy mas chikito todavia</h6>

                <a href="https://github.com/camilozv21">Git del creador</a>

            </article>
        </section>
    </footer>

</body>
</html>