<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregando estilos css</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <p class="oculto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, error, labore incidunt consequuntur obcaecati nemo, velit dolor facilis modi consectetur molestias dolore odit magni amet ex explicabo fuga voluptatum nostrum.</p>

    <article class="contenedor01">
        <h2>Soy un textito</h2>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus deserunt sapiente labore corporis rem ad placeat fuga eligendi blanditiis iste at minima facere natus tenetur, error officiis similique tempore alias?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eligendi debitis obcaecati? Nisi neque repellat iusto culpa. Velit inventore mollitia fugiat eligendi porro, quo sapiente doloribus incidunt, numquam sed ab.</p>

    </article>


</body>
</html>