<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>FlexBox</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="./imgs/logo-mercado-liebre.svg" alt="Mercado Liebre" class="logo">
            <h2 class="copy-header"><i class="fa-solid fa-hand-holding-dollar">
                </i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="button-bars"><i class="fa-solid fa-bars"></i></a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        
            <ul class="rigth-navbar">
                <li><a href="#">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- <input type="search" placeholder="Buscar productos, marcas">
        <button class="boton-bloque"><i class="fa-solid fa-magnifying-glass"></i></button> -->
    </main>
    <footer>

    </footer>
</body>
</html>