* {
    box-sizing: border-box;
}
body {
    font-family: 'Lora', serif;
    background-color: rgba(255,99,71, 0.6);
}

.oculto {
    display: none;
}

.contenedor01 {
    width: 100%;
    max-width: 1200px;;
    padding: 20px;
    border: solid 1px black;
    background-color: lightblue;
    text-align: justify;
    margin: auto;
}

@media (min-width: 570px) {
    .contenedor01 {
        border: solid 1px violet;
        background-color: black;
        color: white;
    }
}

@media (min-width: 900px) {
    .contenedor01 {
        color: red;
    }

    .oculto {
        display: block;
    }
}

/* 
    576
    768
    992
    1200
*/