<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Esto es un HOME</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ducimus ratione. Repellat pariatur officia modi quod sed fugit, cupiditate doloribus amet minima veritatis. Soluta eveniet at nostrum numquam veritatis nam!</p>
</body>
</html>