<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
</head>
<body>
    <h1>Mi primer archivo en el primer servidor</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde quibusdam vitae, tempora saepe eligendi maiores pariatur quis ut eum eius sed repellendus facere, tenetur ex debitis consequatur expedita? Non, necessitatibus!</p>
    <h2>Aquí una foto con el amor de mi vida</h2>
    <img src="../images/trabajo_final.jpg">
</body>
</html>